<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">
                    I am an energetic, outgoing, and passionate full-stack developer with over 6 years of experience in JavaScript and C#. I
                    can listen, understand and solve problems, help you to find out what you REALLY wants to do, break down
                    complex problems into simple and easy to follow steps, pair programming, tests, code quality and refactor
                    some code or if you have a specific problem you're trying to solve I'll work with you through it to help
                    you resolve it and understand the solution.
                    <br /> My experience includes: Developing web/desktop/mobile applications in JavaScript or C#, JavaScript
                    MV* frameworks, SQL and NoSQL databases, RESTful APIs, CSS pre-processors (SASS & LESS), Testing (Unit,
                    Integration and e2e) & Code Quality, Build and Deploy Pipelines with CI/CD.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Let's work together!</a>
            </div>
        </div>
    </div>
</section>