<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">
                    I am a passionate software developer with over 6 years of experience 
                    developing web applications using modern technologies. 
                    I can create applications from scratch to production in many languages and 
                    I love Agile Methodology. I enjoy to work on projects where I can deliver value and 
                    understand the client's needs. I always try to find the best possible solution and not 
                    afraid to ask for help or an opinion when feel it’s necessary.!</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
