<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Jose Barbosa</h1>
            <h4>@kidchenko</h4>
            <h4>Software engineer with 6+ years of experience.</h4>
            <hr />
            <p>
                Hi, I'm full stack developer/scrum master/speaker.
                I code, write, speak, teach, empower, promote & learn.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
